@tailwind base;
@tailwind components;
@tailwind utilities;
/* index.css */
.animated-background {
    background: linear-gradient(45deg, #3b82f6, #1e3a8a, #60a5fa, #3b82f6);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
  }
  
  @keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
  